@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");


#hmPage {
  margin-top: 0;
  font-size: 2.5em;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 8%;
  left: 17.5%;
}

#carusel {
  position: relative;
  padding: 0;
  margin: 5% 15%;
  height: 50%;
  width: 60.3%;
  overflow: hidden;
}
.allPosts {
  width: 1000%;
  height: 95%;
}
.post {
  position: relative;
  display: inline-block;
  border: 1% solid #ebebeb;
  margin: 0 0.15%;
  height: 95%;
  width: 3%;
}
.srcImg {
  margin: auto;
  padding: 0;
  display: block;
  height: 75%;
  width: auto;
  max-width: 100%;
}
h4,
h5 {
  margin: 5%;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
h4 {
  color: rgb(131, 131, 131);
}
.unVisible {
  visibility: hidden;
}
.prev {
  left: 1%;
}
.next {
  right: 1%;
}
.arrow {
  z-index: 1;
  position: absolute;
  top: 48%;
  border-radius: 100%;
  box-shadow: 0 0 10% rgba(0, 0, 0, 0.5);
}